* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

title {
    display: none;
}


.form-container {
    margin: 70px 30px 70px 30px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

}

.article-container {
    margin: 100px 30px 30px 30px;
}

.large-subtitle {
    justify-self: center;
    font-size: 18px;
    font-weight: bold;
    margin: 100px 50px 100px 50px;
}